<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="neusoft.oa.form.mapper.IFComsumptionMapper">

	<resultMap id ="ComsumptionResultMap" type="FComsumption">
	<id property="id" column="COMSUMPID"/>
	<result property="checkID" column="CHECKID"/>
	<result property="goodsID" column="GOODSID"/>
	<result property="count" column="COUNT"/>
	<result property="perPrice" column="PERPRICE"/>
	<result property="totalPrice" column="TOTALPRICE"/>
	<result property="employeeID" column="EMPLOYEEID"/>	
	</resultMap>
	

	<select id="selectByAll" resultType="FComsumption">
	select * from comsumption
	</select>
</mapper>