<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="neusoft.oa.comsumption.mapper.IComsumptionMapper">

	<resultMap id ="ComsumptionResultMap" type="Comsumption">
	<id property="id" column="COMSUMPID"/>
	<result property="checkID" column="CHECKID"/>
	<result property="goodsID" column="GOODSID"/>
	<result property="count" column="COUNT"/>
	<result property="perPrice" column="PERPRICE"/>
	<result property="totalPrice" column="TOTALPRICE"/>
	<result property="employeeID" column="EMPLOYEEID"/>	
	</resultMap>
	

	<insert id="insert" parameterType="Comsumption" keyProperty="id" keyColumn="COMSUMPID" useGeneratedKeys="true">
	insert into comsumption (CHECKID, GOODSID, COUNT, PERPRICE, TOTALPRICE, EMPLOYEEID) 
	values (${checkID},${goodsID}, ${count}, ${perPrice}, ${totalPrice}, ${employeeID});
	</insert>

	<update id="update">
	update comsumption set CHECKID=${checkID}, GOODSID=${goodsID}, COUNT=${count}, PERPRICE=${perPrice},
	TOTALPRICE=${totalPrice}, EMPLOYEEID=${employeeID} where COMSUMPID = ${id}
	</update>

	<delete id="delete">
	delete from comsumption where COMSUMPID = ${id}
	</delete>

	<select id="selectByAll" resultType="Comsumption">
	select * from comsumption
	</select>

  	<select id="selectByComsumptionID" parameterType="_int" resultMap="ComsumptionResultMap">
	select * from comsumption where COMSUMPID = ${id}  
	</select>
	
</mapper>